html{
  
}

body{
    display: flex;
    margin: 0 auto;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(214, 201, 22);
    background-image: url("/teste/img/Design\ sem\ nome\ \(7\).png");
    background-repeat: no-repeat;
    background-size: contain;
    
}

h1{
    color: aliceblue;
}

header{
    display: flex;
    gap: 10px;
}

.card-container{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 16px;
    width: 320px;
    border-radius: 6px;
    box-shadow: 2px 4px 8px;
    transition: ease-in-out 0.3s;
    perspective: 1000px;
    background-image: repeating-conic-gradient(red 10%, yellow 20%);
}

.card-container:hover{
    background-image: repeating-conic-gradient(red 10%, yellow 20%);

}

img{
    width: 100%;;
    border-radius: 6px;
    transition: ease-in-out 0.3s;

}

img:hover{
    
    transform:rotateX(15deg);
}

.card-btn{
   display: flex;
    justify-content: space-between;

}

.card-btn-price{
    width: 150px;
}

.card-btn-sign{
    transition: ease 0.4s;
}

.card-btn-sign:hover{
    scale: 1.1;
    color: white;
    background-color: black;
    box-shadow: 2px 4px rgba(255, 5, 5, 0.8);

}

